# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.box_and_zombies.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\a\Projects\code\unity\box_and_zombies\box_and_zombies\.idea\.idea.box_and_zombies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
